@model IEnumerable<GameStore.Models.GameViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Games", new { @class = "btn btn-info"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameGames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameIcon)
        </th>

    </tr>

    @foreach (var item in Model) {
         
        <tr>
        
        
            <td>
                @Html.DisplayFor(modelItem => item.NameGames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameIcon)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
            </td>
        
        </tr>
    }

</table>
