@model IEnumerable<GameStore.Entity.Purchase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdGames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdGames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPurchase }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPurchase }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPurchase })
        </td>
    </tr>
}

</table>
